/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.App { 
  height: 100vh;
  width: 100vw;
}
/* Header.css */
.header {
  background-color: #f0f0f0;
  padding: 10px 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  font-family: "Dancing Script", cursive !important;
  font-size: 28px !important;
  font-weight: bold !important;
  color: #FF69B4 !important;
  margin-left: 0;
}
.header .nav {
  display: flex;
  justify-content: space-evenly !important;
  width: 100%;
}
.header .nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  padding: 0; 
  border: none; 
  background: none; 
  font-size: 1rem; 
  font-weight: normal; 
  font-family: inherit; 
  cursor: pointer;
}
.header .nav a:hover {
  color: #e91e63;
}
/* Home.css */
.home {
  text-align: center;
  padding: 0px 0;
  background-color: #f9f9f9;
}
.home-image{
  max-width: 100%;
  height: auto;
}
.home-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.home-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.signup-button {
  background-color: #e91e63;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}
/* SignUp.css and SignIn.css */
form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
form button {
  background-color: #e91e63;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
form .error {
  color: red;
  margin-bottom: 10px;
}
/* Account.css */
.account {
  padding: 50px 0;
}
.account h2 {
  text-align: center;
  margin-bottom: 30px;
}
.booked-services,
.personal-info {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}
.personal-info h3 {
  margin-bottom: 15px;
}
/* Services.css */
.services {
  padding: 50px 0;
}
.services h2 {
  text-align: center;
  margin-bottom: 30px;
}
.services div {
  margin-bottom: 20px;
}
.services h3 {
  margin-bottom: 10px;
}